*{
    padding: 0;
    margin: 0;
}


.txt{
    background-color: aqua;
    font-family: 'Gill Sans MT';
    padding-top: 40;
}
.txt-one{
    font-size: 50;
    font-weight: 10;
    padding: 100;
    padding-top: 170;
    padding-bottom: 0;
}
.txt-two{
    font-size: 25;
    padding: 100;
    padding-top: 30;
}
.txt-3{
    font-size: 25;
    font-weight: 5;
    padding-left: 150;
    padding-top: 150;
}
.bk1{
    background-color: brown;
    height: 60;
    align-items: center;
    justify-content: center;
    display: flex;
}
h1{
    font-size: 20;
}
.rectangle {
	width: 200px;
	height: 100px;
	background: black;
    border-bottom: 100;
}
.txt-four{
    font-size: 50;
    padding-left: 150;
    padding-top: 10;
}




@font-face {
    font-family: "Gill Sans MT"; 
    src: url("C:\Users\user\Downloads\Fonts"); 
    src: url("C:\Users\user\Downloads\Fonts") format("embedded-opentype"),
    url("C:\Users\user\Downloads\Fonts") format("woff"), 
    url("C:\Users\user\Downloads\Fonts") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }
    